<h2 class="heading">Languages</h2>
<div *ngIf="res.data">
  <div *ngFor="let language of res.data.Languages; let i = index">
    <ul class="list-inline">
      <li>
        <strong style="color: #778492"
          >{{ language.name }}:
          <span style="color: #999; font-weight: 400">
            {{ language.level }}
          </span>
        </strong>
      </li>
      <div
        class="star-level"
        *ngIf="language.level == 'Professional Proficiency'"
      >
        <span class="fa fa-star"> </span>
        <span class="fa fa-star"> </span>
        <span class="fa fa-star"> </span>
        <span class="fa fa-star"> </span>
        <span class="far fa-star"> </span>
      </div>
      <div class="star-level" *ngIf="language.level == 'Native Speaker'">
        <span class="fa fa-star"> </span>
        <span class="fa fa-star"> </span>
        <span class="fa fa-star"> </span>
        <span class="fa fa-star"> </span>
        <span class="fa fa-star"> </span>
      </div>
    </ul>
  </div>
</div>
<!-- <span class="edit-content" (click)="showDialog()"
  ><i class="fa fa-edit"></i
></span> -->
