<h2 class="heading">Work Experience</h2>
<div *ngIf="res.data">
  <div *ngFor="let experience of res.data.Experiences; let i = index">
    <h6 class="title">
      {{ experience.designation }} -
      <span
        ><a href="#" class="company-details">{{ experience.company }}</a>
      </span>
      <span class="company-details">
        ({{ experience.joiningDate | date : "MMM YYYY" }} -
        {{ experience.endDate | date : "MMM YYYY" }})
      </span>
    </h6>
    <p>{{ experience.description }}</p>
  </div>
</div>
<!-- <span class="edit-content" (click)="showDialog()"
  ><i class="fa fa-edit"></i
></span> -->
