.year {
  color: #b0b7bf;
  font-weight: 500;
}
.university {
  font-family: Lato, arial, sans-serif;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  padding-left: 25px;
  margin-top: -10px;
}
