<form [formGroup]="childForm">
  <div class="card mt-2">
    <div class="card-body" formArrayName="Experiences">
      <div *ngFor="let experience of getExperience(); index as i">
        <div class="row" [formGroupName]="i">
          <div class="col">
            <label>Company</label>
            <input
              class="form-control"
              placeholder="Enter company"
              formControlName="company"
            />
            <small
              *ngIf="
                experience.get('company').errors?.required &&
                (experience.get('company').touched || submitted)
              "
            >
              Please enter company
            </small>
          </div>
          <div class="col">
            <label>Designation</label>
            <input
              class="form-control"
              placeholder="Enter designation"
              formControlName="designation"
            />
            <small
              *ngIf="
                experience.get('designation').errors?.required &&
                (experience.get('designation').touched || submitted)
              "
            >
              Please enter designation
            </small>
          </div>

          <div class="col">
            <label>Start Date</label>
            <p-calendar
              [showIcon]="true"
              dateFormat="dd-mm-yy"
              formControlName="joiningDate"
            ></p-calendar>
            <small
              *ngIf="
                experience.get('joiningDate').errors?.required &&
                (experience.get('joiningDate').touched || submitted)
              "
            >
              Please enter joining date
            </small>
          </div>
          <div class="col">
            <label>Leaving Date</label>
            <p-calendar
              [showIcon]="true"
              dateFormat="dd-mm-yy"
              formControlName="endDate"
            ></p-calendar>
            <small
              *ngIf="
                experience.get('endDate').errors?.required &&
                (experience.get('endDate').touched || submitted)
              "
            >
              Please enter leaving date
            </small>
          </div>
          <div>
            <label>Description</label>
            <textarea
              class="form-control"
              placeholder="Enter description"
              formControlName="description"
            ></textarea>
            <small
              *ngIf="
                experience.get('description').errors?.required &&
                (experience.get('description').touched || submitted)
              "
            >
              Please enter description
            </small>
          </div>
          <div class="remove-btn">
            <button class="remove-element" (click)="removeExperience(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-outlined"
        (click)="addExperience()"
      ></button>
    </div>
  </div>
  <button
    *ngIf="config.data"
    mat-raised-button
    type="button"
    color="primary"
    class="submitButton p-button-outlined mt-1"
    (click)="onUpdate()"
  >
    Submit
  </button>
</form>
