<mat-toolbar color="primary">
  <span>Welcome to Portfolio Builder</span>
</mat-toolbar>
<div class="main">
  <mat-card class="content">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="logo mb-3"
        src="assets/images/logo.jpg"
        alt=""
      />
    </div>
    <form [formGroup]="loginForm">
      <mat-card-content>
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Email"
            formControlName="email"
          />
          <mat-error *ngIf="loginForm.get('email').errors?.email">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="
              loginForm.get('email').errors?.required &&
              loginForm.get('email').touched
            ">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
          />
          <mat-icon
            matSuffix
            (click)="hidePassword = !hidePassword"
            style="cursor: pointer"
          >{{ hidePassword ? "visibility" : "visibility_off" }}</mat-icon>
          <mat-error *ngIf="loginForm.get('password').errors?.pattern">
            Please enter valid password
          </mat-error>
          <mat-error *ngIf="
              loginForm.get('password').errors?.required &&
              loginForm.get('password').touched
            ">
            Password is required
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button
        [disabled]="loginForm.invalid"
        mat-stroked-button
        color="accent"
        class="btn-block"
        routerLink="/portfolio-list"
        routerLinkActive="active"
      >
        Log in
      </button>
    </form>
  </mat-card>
</div>
