<form [formGroup]="childForm">
  <div class="card mt-2">
    <div class="card-body" formArrayName="Languages">
      <div *ngFor="let language of getLanguages(); index as i">
        <div class="row" [formGroupName]="i">
          <div class="col">
            <label>Language name</label>
            <input
              class="form-control col"
              placeholder="Enter language"
              formControlName="name"
            />
            <small
              *ngIf="
                language.get('name').errors?.required &&
                (language.get('name').touched || submitted)
              "
            >
              Please enter language
            </small>
          </div>
          <div class="col">
            <label>Level</label><br />
            <p-dropdown
              [options]="languages"
              placeholder="Select level"
              [showClear]="true"
              optionLabel="level"
              optionValue="level"
              formControlName="level"
            ></p-dropdown>
          </div>
          <div class="remove-btn">
            <button class="remove-element" (click)="removeLanguage(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-outlined"
        (click)="addLanguage()"
      ></button>
    </div>
  </div>
  <button
    *ngIf="config.data"
    mat-raised-button
    type="button"
    color="primary"
    class="submitButton p-button-outlined mt-1"
    (click)="onUpdate()"
  >
    Submit
  </button>
</form>
