.basic-details {
  border-radius: 5px;
  background: white;
}
.image-picker {
  margin-top: -20px;
}
.parent {
  margin-left: 25px;
}

textarea.form-control {
  height: 100px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 20px;
}

small {
  color: red;
}
