<form [formGroup]="childForm">
  <div class="basic-details card">
    <div class="card-body">
      <div class="row">
        <div>
          <img alt="" class="avatar" [src]="url" />
          <input
            type="file"
            accept="image/*"
            name="selectedImage"
            id="selectedImage"
            (change)="selectFile($event)"
            hidden
          />
          <label
            class="image-picker pi pi-user-edit d-flex justify-content-end"
            style="cursor: pointer"
            for="selectedImage"
          ></label>
          <small
            *ngIf="
              childForm.get('profileImage').errors?.required &&
              (childForm.get('profileImage').touched || submitted)
            "
          >
            Please choose profile picture
          </small>
        </div>

        <div class="col p-2">
          <div class="ml-1">
            <label>First Name</label>
            <input
              class="form-control"
              placeholder="Enter first name"
              formControlName="firstname"
            />
            <small
              *ngIf="
                childForm.get('firstname').errors?.required &&
                (childForm.get('firstname').touched || submitted)
              "
            >
              Please enter first name </small
            ><br />
          </div>
          <div class="ml-1" *ngIf="!config.data">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter email"
              formControlName="email"
            />
            <small
              *ngIf="
                childForm.get('email').errors?.required &&
                (childForm.get('email').touched || submitted)
              "
            >
              Please enter email
            </small>
            <small *ngIf="childForm.get('email').errors?.pattern"
              >Please enter valid email</small
            ><br />
          </div>
          <div class="ml-1" *ngIf="config.data">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter email"
              formControlName="email"
              disabled="true"
            />
            <small
              *ngIf="
                childForm.get('email').errors?.required &&
                (childForm.get('email').touched || submitted)
              "
            >
              Please enter email
            </small>
            <small *ngIf="childForm.get('email').errors?.pattern"
              >Please enter valid email</small
            ><br />
          </div>
        </div>

        <div class="col p-2 justify-content-around">
          <div>
            <label>Last Name</label>
            <input
              class="form-control"
              placeholder="Enter last name"
              formControlName="lastname"
            />
            <small
              *ngIf="
                childForm.get('lastname').errors?.required &&
                (childForm.get('lastname').touched || submitted)
              "
            >
              Please enter last name
            </small>
            <br />
          </div>
          <div>
            <label>Phone</label>
            <input
              class="form-control"
              placeholder="Enter phone"
              formControlName="phone"
              maxlength="10"
            />
            <small
              *ngIf="
                childForm.get('phone').errors?.required &&
                (childForm.get('phone').touched || submitted)
              "
              >Please enter phone</small
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Designation</label>
        <input
          class="form-control"
          placeholder="Enter designation"
          formControlName="designation"
        />
        <small
          *ngIf="
            childForm.get('designation').errors?.required &&
            (childForm.get('designation').touched || submitted)
          "
        >
          Please enter designation
        </small>
      </div>
      <div class="form-group mt-1">
        <label>Description</label>
        <textarea
          class="form-control"
          placeholder="Enter Description"
          formControlName="description"
        ></textarea>
        <small
          *ngIf="
            childForm.get('description').errors?.required &&
            (childForm.get('description').touched || submitted)
          "
        >
          Please enter description
        </small>
      </div>

      <p-splitter styleClass="p-mb-5" [style]="{ height: '100px' }">
        <ng-template pTemplate>
          <div class="d-flex flex-column p-1 ml-1">
            <label>Country</label>
            <p-progressSpinner
              *ngIf="showFirstSpinner"
              [style]="{ width: '35px', height: '35px' }"
            ></p-progressSpinner>
            <p-dropdown
              *ngIf="!showFirstSpinner"
              [options]="countries"
              placeholder="Select a Country"
              optionLabel="country_name"
              optionValue="country_name"
              [showClear]="true"
              formControlName="country"
              [filter]="true"
              filterBy="country_name"
              (onChange)="getStates()"
            ></p-dropdown>
          </div>
        </ng-template>
        <ng-template pTemplate>
          <div class="d-flex flex-column p-1 ml-1">
            <label>State</label>
            <p-progressSpinner
              *ngIf="showSecondSpinner"
              [style]="{ width: '35px', height: '35px' }"
            ></p-progressSpinner>
            <p-dropdown
              *ngIf="!showSecondSpinner"
              [options]="states"
              placeholder="Select a State"
              optionLabel="state_name"
              optionValue="state_name"
              [showClear]="true"
              formControlName="state"
              [filter]="true"
              filterBy="state_name"
              (onChange)="getCities()"
            ></p-dropdown>
          </div>
        </ng-template>
        <ng-template pTemplate>
          <div class="d-flex flex-column p-1 ml-1">
            <label>City</label>
            <p-progressSpinner
              *ngIf="showThirdSpinner"
              [style]="{ width: '35px', height: '35px' }"
            ></p-progressSpinner>
            <p-dropdown
              *ngIf="!showThirdSpinner"
              [options]="cities"
              placeholder="Select a City"
              optionLabel="city_name"
              optionValue="city_name"
              [showClear]="true"
              formControlName="city"
              [filter]="true"
              filterBy="city_name"
            ></p-dropdown>
          </div>
        </ng-template>
      </p-splitter>
    </div>
  </div>
  <button
    *ngIf="config.data"
    mat-raised-button
    type="button"
    color="primary"
    class="submitButton p-button-outlined mt-1"
    (click)="onUpdate()"
  >
    Submit
  </button>
</form>
