<form [formGroup]="childForm">
  <div class="card mt-2">
    <div class="card-body" formArrayName="Projects">
      <div *ngFor="let project of getProjects(); index as i">
        <div class="row" [formGroupName]="i">
          <div class="col">
            <label>Title</label>
            <input
              class="form-control col"
              placeholder="Enter title"
              formControlName="title"
            />
            <small
              *ngIf="
                project.get('title').errors?.required &&
                (project.get('title').touched || submitted)
              "
            >
              Please enter title
            </small>
          </div>
          <div class="col">
            <label>Description</label><br />
            <textarea
              class="form-control"
              placeholder="Enter project description"
              formControlName="description"
            ></textarea>
            <small
              *ngIf="
                project.get('description').errors?.required &&
                (project.get('description').touched || submitted)
              "
            >
              Please enter description
            </small>
          </div>
          <div class="remove-btn">
            <button class="remove-element" (click)="removeProject(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-outlined"
        (click)="addProjects()"
      ></button>
    </div>
  </div>
  <button
    *ngIf="config.data"
    mat-raised-button
    type="button"
    color="primary"
    class="submitButton p-button-outlined mt-1"
    (click)="onUpdate()"
  >
    Submit
  </button>
</form>
