<form [formGroup]="childForm">
  <div class="card mt-2">
    <div class="card-body" formArrayName="Skills">
      <div *ngFor="let skill of getSkills(); index as i">
        <div class="row" [formGroupName]="i">
          <div class="col">
            <label>Skill name</label>
            <input
              class="form-control col"
              placeholder="Enter skill name"
              formControlName="name"
            />
            <small
              *ngIf="
                skill.get('name').errors?.required &&
                (skill.get('name').touched || submitted)
              "
            >
              Please enter skill
            </small>
          </div>
          <div class="col">
            <label>Level</label><br />
            <p-dropdown
              [options]="skills"
              placeholder="Select level"
              optionLabel="level"
              optionValue="level"
              [showClear]="true"
              formControlName="level"
            ></p-dropdown>
          </div>
          <div class="col">
            <label>Description</label><br />
            <textarea
              class="form-control"
              placeholder="Enter description"
              formControlName="description"
            ></textarea>
            <small
              *ngIf="
                skill.get('description').errors?.required &&
                (skill.get('description').touched || submitted)
              "
            >
              Please enter description
            </small>
          </div>
          <div class="remove-btn">
            <button class="remove-element" (click)="removeSkill(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-outlined"
        (click)="addSkills()"
      ></button>
    </div>
  </div>
  <button
    *ngIf="config.data"
    mat-raised-button
    type="button"
    color="primary"
    class="submitButton p-button-outlined mt-1"
    (click)="onUpdate()"
  >
    Submit
  </button>
</form>
