<ngx-spinner
  type="ball-spin-clockwise-fade"
  size="medium"
  color="rgb(0, 172, 193)"
></ngx-spinner>
<ngx-ui-loader hasProgressBar="true" pbColor="rgb(0, 172, 193)"></ngx-ui-loader>
<div
  *ngIf="showDeleteMessage"
  class="alert alert-danger d-flex justify-content-center align-items-center"
>
  Your profile is not available
</div>

<div *ngIf="res && !showDeleteMessage">
  <header class="header">
    <div class="container d-flex flex-wrap">
      <div>
        <img
          src="assets/images/profile_pic.png"
          alt="profile"
          class="profile-image"
        />
      </div>
      <div class="p-4" style="padding-bottom: 0px !important">
        <h1 style="color: #49515a; font-size: 38px; font-weight: bolder">
          {{ res.data.firstname }}{{ " " + res.data.lastname }}
        </h1>
        <h2
          style="
            color: #778492;
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 15px;
          "
        >
          {{ res.data.designation }}
        </h2>
        <app-edit-social-media
          *ngIf="userDataService.userResponse"
          [res]="userDataService.userResponse"
        ></app-edit-social-media>
      </div>
    </div>
    <!-- <div class="delete-button">
      <button
        class="btn btn-light"
        (click)="deletePortfolio()"
        pTooltip="Delete this portfolio"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div> -->
  </header>
  <div class="container section-wraper">
    <div class="row">
      <div class="col-lg-8 col-12 pt-3">
        <div class="content card-body shadow-sm shadow-sm">
          <app-edit-basic-details
            *ngIf="userDataService.userResponse"
            [res]="userDataService.userResponse"
          ></app-edit-basic-details>
        </div>
        <div class="content card-body shadow-sm mt-4">
          <app-edit-projects
            *ngIf="userDataService.userResponse"
            [res]="userDataService.userResponse"
          ></app-edit-projects>
        </div>
        <div class="content card-body shadow-sm mt-4">
          <div>
            <app-edit-experience
              *ngIf="userDataService.userResponse"
              [res]="userDataService.userResponse"
            ></app-edit-experience>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 pt-3 mt-2 mt-lg-0">
        <div class="content card-body shadow-sm">
          <app-edit-contact
            *ngIf="userDataService.userResponse"
            [res]="userDataService.userResponse"
          ></app-edit-contact>
        </div>
        <div class="content card-body shadow-sm mt-4">
          <app-edit-skills
            *ngIf="userDataService.userResponse"
            [res]="userDataService.userResponse"
          ></app-edit-skills>
        </div>
        <div class="content card-body shadow-sm mt-4">
          <app-edit-education
            *ngIf="userDataService.userResponse"
            [res]="userDataService.userResponse"
          ></app-edit-education>
        </div>
        <div class="content card-body shadow-sm mt-4">
          <app-edit-languages
            *ngIf="userDataService.userResponse"
            [res]="userDataService.userResponse"
          ></app-edit-languages>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Message"
  [(visible)]="showErrorMessage"
  [style]="{ width: '50%' }"
>
  {{ errorMessage }}
</p-dialog>
