<h2 class="heading">Skills</h2>
<div *ngIf="res.data">
  <div *ngFor="let skill of res.data.Skills; let i = index">
    <div class="d-flex align-items-center justify-content-between">
      <p class="skill-name">{{ skill.name }}</p>
      <label pTooltip="{{ skill.description }}">
        <i class="fa fa-info-circle" style="color: #ccd1d6"></i
        ><span class="skill-level ml-1">{{ skill.level }}</span>
      </label>
    </div>
    <div class="progress">
      <div
        class="progress-bar bg-success"
        role="progress"
        style="width: 25%"
        *ngIf="skill.level == 'Beginner'"
      ></div>
      <div
        class="progress-bar bg-success"
        role="progress"
        style="width: 50%"
        *ngIf="skill.level == 'Intermediate'"
      ></div>
      <div
        class="progress-bar bg-success"
        role="progress"
        style="width: 75%"
        *ngIf="skill.level == 'Expert'"
      ></div>
      <div
        class="progress-bar bg-success"
        role="progress"
        style="width: 100%"
        *ngIf="skill.level == 'Pro'"
      ></div>
    </div>
  </div>
</div>
<!-- <span class="edit-content" (click)="showDialog()"
  ><i class="fa fa-edit"></i
></span> -->
