.skill-name {
  font-size: 18px;
  font-weight: bold;
  color: #778492;
}
.progress {
  border-radius: 0px;
  margin-bottom: 2em;
  margin-top: -1em;
}
.skill-level {
  font-family: sans-serif;
  color: #ccd1d6;
}
