<mat-toolbar color="primary">
  <span>Welcome to Portfolio Builder</span>
</mat-toolbar>
<div class="container">
  <p-accordion>
    <p-accordionTab header="Basic Details" [selected]="true">
      <app-basic-details
        [childForm]="registerForm"
        [submitted]="submitted"
      ></app-basic-details>
    </p-accordionTab>
  </p-accordion>
  <p-accordion>
    <p-accordionTab header="Social Media Information">
      <app-social-media
        [childForm]="registerForm"
        [submitted]="submitted"
      ></app-social-media>
    </p-accordionTab>
  </p-accordion>
  <p-accordion>
    <p-accordionTab header="Projects">
      <app-projects
        [childForm]="registerForm"
        [submitted]="submitted"
      ></app-projects>
    </p-accordionTab>
  </p-accordion>
  <p-accordion>
    <p-accordionTab header="Experiences">
      <app-experience
        [childForm]="registerForm"
        [submitted]="submitted"
      ></app-experience>
    </p-accordionTab>
  </p-accordion>
  <p-accordion>
    <p-accordionTab header="Skills">
      <app-skills
        [childForm]="registerForm"
        [submitted]="submitted"
      ></app-skills>
    </p-accordionTab>
  </p-accordion>
  <p-accordion>
    <p-accordionTab header="Education">
      <app-education
        [childForm]="registerForm"
        [submitted]="submitted"
      ></app-education>
    </p-accordionTab>
  </p-accordion>
  <p-accordion>
    <p-accordionTab header="Languages">
      <app-language
        [childForm]="registerForm"
        [submitted]="submitted"
      ></app-language>
    </p-accordionTab>
  </p-accordion>
  <button
    class="submitButton"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onSubmit()"
  >
    Submit
  </button>
  <p-dialog
    header="Message"
    [(visible)]="displayErrorMessage"
    [style]="{ width: '50%' }"
  >
    {{ errorMessage }}
  </p-dialog>
</div>
