// :host {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .container {
//     display: contents !important;
//     .logo {
//       width: 120px;
.container {
  padding: 20px;
}
.submitButton {
  margin-top: 10px;
  position: relative;
  left: 93%;
}
